In [2]:
import pandas as pd

In [3]:
pwd

'C:\\Users\\User\\Desktop\\checkoutcom'

# Reading file

In [4]:
X_full = pd.read_csv("C:\\Users\\User\\Desktop\\checkoutcom\\card_transactions.csv")
X_full.columns = X_full.columns.astype(str)

In [5]:
X_full.head()

,Unnamed: 0,payment_id,client_id,transaction_date,amount_usd,card_scheme,fraud,mcc,transaction_lever,country_code,...,anomaly_score,mouse_hor_ver_perc,count_similar_amount_merchant_L7D,phone_tilt,device_score,count_similar_device_L1M,count_similar_device_L7D,bh_score,addr_dist,network_speed
0,17,17,384,2019-01-02 00:04:28,100.00,mastercard,0,finance,3,country_87.0,...,NaN,4.166667,0.0,-82.0,NaN,0.0,0.0,0.0,0.0,NaN
1,19,19,384,2019-01-02 00:05:30,186.00,visa,0,retail,1,country_87.0,...,0.000000,NaN,0.0,NaN,0.208333,2.0,0.0,NaN,0.0,0.007247
2,27,27,688,2019-01-02 00:09:32,47.95,visa,0,retail,3,country_87.0,...,1.111111,NaN,0.0,NaN,0.208333,0.0,0.0,NaN,0.0,0.207419
3,28,28,688,2019-01-02 00:09:33,20.00,mastercard,0,retail,2,country_87.0,...,0.000000,NaN,0.0,NaN,NaN,0.0,0.0,NaN,50.0,0.022936
4,29,29,695,2019-01-02 00:09:39,36.99,visa,0,retail,2,country_87.0,...,0.000000,NaN,0.0,NaN,0.208333,0.0,0.0,NaN,0.0,0.036342

In [6]:
# I drop here first column because it is the same as "payment_id"
X_full.drop([X_full.columns[0]], axis = 1, inplace = True)

In [7]:
X_full.head()

,payment_id,client_id,transaction_date,amount_usd,card_scheme,fraud,mcc,transaction_lever,country_code,issue_bank_code,...,anomaly_score,mouse_hor_ver_perc,count_similar_amount_merchant_L7D,phone_tilt,device_score,count_similar_device_L1M,count_similar_device_L7D,bh_score,addr_dist,network_speed
0,17,384,2019-01-02 00:04:28,100.00,mastercard,0,finance,3,country_87.0,150.0,...,NaN,4.166667,0.0,-82.0,NaN,0.0,0.0,0.0,0.0,NaN
1,19,384,2019-01-02 00:05:30,186.00,visa,0,retail,1,country_87.0,150.0,...,0.000000,NaN,0.0,NaN,0.208333,2.0,0.0,NaN,0.0,0.007247
2,27,688,2019-01-02 00:09:32,47.95,visa,0,retail,3,country_87.0,150.0,...,1.111111,NaN,0.0,NaN,0.208333,0.0,0.0,NaN,0.0,0.207419
3,28,688,2019-01-02 00:09:33,20.00,mastercard,0,retail,2,country_87.0,150.0,...,0.000000,NaN,0.0,NaN,NaN,0.0,0.0,NaN,50.0,0.022936
4,29,695,2019-01-02 00:09:39,36.99,visa,0,retail,2,country_87.0,150.0,...,0.000000,NaN,0.0,NaN,0.208333,0.0,0.0,NaN,0.0,0.036342

In [8]:
X_full.shape

(364342, 39)

# Dropping with most categorical columns and most missing value columns

In [9]:
X_full.drop(["network_category"], axis = 1, inplace = True)
X_full.drop(["proxy_ip"], axis = 1, inplace = True)
X_full.drop(["mouse_speed"], axis = 1, inplace = True)
X_full.drop(["cursor_velocity"], axis = 1, inplace = True)
X_full.drop(["scrolling_speed"], axis = 1, inplace = True)
X_full.drop(["battery_score"], axis = 1, inplace = True)
X_full.drop(["bot_score"], axis = 1, inplace = True)
X_full.drop(["network_dist"], axis = 1, inplace = True)
X_full.drop(["mouse_hor_ver_perc"], axis = 1, inplace = True)
X_full.drop(["phone_tilt"], axis = 1, inplace = True)
X_full.drop(["bh_score"], axis = 1, inplace = True)
X_full.drop(["country_code"], axis = 1, inplace = True)
X_full.drop(["transaction_date"], axis = 1, inplace = True)

In [10]:
X_full.head()

,payment_id,client_id,amount_usd,card_scheme,fraud,mcc,transaction_lever,issue_bank_code,card_type,bin_score,...,fraud_centrality,between_centrality,eigen_centrality,anomaly_score,count_similar_amount_merchant_L7D,device_score,count_similar_device_L1M,count_similar_device_L7D,addr_dist,network_speed
0,17,384,100.00,mastercard,0,finance,3,150.0,credit,0.931604,...,NaN,0.0,0.014706,NaN,0.0,NaN,0.0,0.0,0.0,NaN
1,19,384,186.00,visa,0,retail,1,150.0,debit,0.706622,...,0.0,1.0,0.000000,0.000000,0.0,0.208333,2.0,0.0,0.0,0.007247
2,27,688,47.95,visa,0,retail,3,150.0,debit,0.650082,...,278.0,0.0,0.014706,1.111111,0.0,0.208333,0.0,0.0,0.0,0.207419
3,28,688,20.00,mastercard,0,retail,2,150.0,debit,0.813665,...,0.0,0.0,0.029412,0.000000,0.0,NaN,0.0,0.0,50.0,0.022936
4,29,695,36.99,visa,0,retail,2,150.0,debit,0.693608,...,0.0,0.0,0.014706,0.000000,0.0,0.208333,0.0,0.0,0.0,0.036342

# Finding number of unique values each column

In [11]:
s = (X_full.dtypes == 'object')
object_cols = list(s[s].index)

print(object_cols)


for col in object_cols:
    print(col+"____", X_full[col].nunique())

['card_scheme', 'mcc', 'card_type']
card_scheme____ 2
mcc____ 5
card_type____ 4

# Using one_hot_encoder for filling categorical values

In [12]:
from sklearn.preprocessing import OneHotEncoder
OH_encoder = OneHotEncoder(handle_unknown='ignore', sparse=False)
OH_cols_full = pd.DataFrame(OH_encoder.fit_transform(X_full[object_cols]))
OH_cols_full.index = X_full.index
num_X_full = X_full.drop(object_cols, axis=1)
OH_X_full = pd.concat([num_X_full, OH_cols_full], axis=1)
OH_X_full.columns = OH_X_full.columns.astype(str)

C:\Users\User\AppData\Roaming\Python\Python311\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [13]:
OH_X_full.head()

,payment_id,client_id,amount_usd,fraud,transaction_lever,issue_bank_code,bin_score,ch_score,tap_speed,network_latency,...,1,2,3,4,5,6,7,8,9,10
0,17,384,100.00,0,3,150.0,0.931604,0.322373,3.412365,NaN,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,19,384,186.00,0,1,150.0,0.706622,0.514022,3.296224,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2,27,688,47.95,0,3,150.0,0.650082,0.398479,3.612401,42.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
3,28,688,20.00,0,2,150.0,0.813665,0.299005,3.698586,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4,29,695,36.99,0,2,150.0,0.693608,0.295137,3.886400,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0

# Number of missing values each column

In [14]:
OH_X_full.isna().sum()

payment_id                                0
client_id                                 0
amount_usd                                0
fraud                                     0
transaction_lever                         0
issue_bank_code                           0
bin_score                                 0
ch_score                                  0
tap_speed                                 0
network_latency                       42518
count_similar_addr1_L1D                   0
count_similar_addr2_L1D                   0
count_similar_addr3_L1M                   0
fraud_centrality                      50629
between_centrality                        7
eigen_centrality                          0
anomaly_score                         42385
count_similar_amount_merchant_L7D         0
device_score                         100966
count_similar_device_L1M                  0
count_similar_device_L7D                  0
addr_dist                                 0
network_speed                         42518
0                                         0
1                                         0
2                                         0
3                                         0
4                                         0
5                                         0
6                                         0
7                                         0
8                                         0
9                                         0
10                                        0
dtype: int64

In [15]:
cols_with_missing = [col for col in OH_X_full.columns if OH_X_full[col].isnull().any()]
print(cols_with_missing)

['network_latency', 'fraud_centrality', 'between_centrality', 'anomaly_score', 'device_score', 'network_speed']

# Using extansion imputer method filling the missing values

In [16]:
from sklearn.impute import SimpleImputer
my_imputer = SimpleImputer()

OH_X_full_plus = OH_X_full.copy()

for col in cols_with_missing:
    OH_X_full_plus[col + "with_missing"] = OH_X_full_plus[col].isnull()
    
imputed_OH_X_full_plus = pd.DataFrame(my_imputer.fit_transform(OH_X_full_plus))

imputed_OH_X_full_plus.columns = OH_X_full_plus.columns

In [17]:
imputed_OH_X_full_plus.head()

,payment_id,client_id,amount_usd,fraud,transaction_lever,issue_bank_code,bin_score,ch_score,tap_speed,network_latency,...,7,8,9,10,network_latencywith_missing,fraud_centralitywith_missing,between_centralitywith_missing,anomaly_scorewith_missing,device_scorewith_missing,network_speedwith_missing
0,17.0,384.0,100.00,0.0,3.0,150.0,0.931604,0.322373,3.412365,17.425176,...,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0
1,19.0,384.0,186.00,0.0,1.0,150.0,0.706622,0.514022,3.296224,0.000000,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,27.0,688.0,47.95,0.0,3.0,150.0,0.650082,0.398479,3.612401,42.000000,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,28.0,688.0,20.00,0.0,2.0,150.0,0.813665,0.299005,3.698586,0.000000,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,29.0,695.0,36.99,0.0,2.0,150.0,0.693608,0.295137,3.886400,0.000000,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Seeing fraud is imbalance column
## Mojority "'0" and minority "1"

In [18]:
counts = imputed_OH_X_full_plus['fraud'].value_counts()
print("0", counts[0])
print("1", counts[1])

0 361425
1 2917

# Randomly downsampling minority class inorder to making it balance

## I did this because if I undersampling my data would be very high

In [37]:
# Separate minority and majority classes
minority_class = imputed_OH_X_full_plus[imputed_OH_X_full_plus['fraud'] == 1]
majority_class = imputed_OH_X_full_plus[imputed_OH_X_full_plus['fraud'] == 0]

# Downsample majority class to match the number of minority class
majority_downsampled = majority_class.sample(n=len(minority_class), random_state=42)

# Concatenate minority class and downsampled majority class
balanced_df = pd.concat([minority_class, majority_downsampled])

# Shuffle the balanced dataset
balanced_df = balanced_df.sample(frac=1, random_state=42).reset_index(drop=True)

# Here indexing
## payment_id chaning it index because of increases one by one

In [45]:
balanced_df.set_index('payment_id', inplace=True)

In [46]:
balanced_df.head()

,client_id,amount_usd,fraud,transaction_lever,issue_bank_code,bin_score,ch_score,tap_speed,network_latency,count_similar_addr1_L1D,...,7,8,9,10,network_latencywith_missing,fraud_centralitywith_missing,between_centralitywith_missing,anomaly_scorewith_missing,device_scorewith_missing,network_speedwith_missing
payment_id,,,,,,,,,,,,,,,,,,,,,
334772.0,8164818.0,73.229,1.0,2.0,182.0,0.657973,0.472730,3.070859,0.000000,7.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
588350.0,15662278.0,226.000,0.0,2.0,150.0,0.079530,0.338912,3.477855,0.000000,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
114536.0,2138558.0,30.000,0.0,3.0,150.0,0.902761,0.631539,3.625016,17.425176,0.0,...,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0
177234.0,3779037.0,15.000,1.0,2.0,150.0,0.290634,0.439133,3.997437,0.000000,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
428197.0,10724183.0,29.879,1.0,2.0,185.0,0.366236,0.330726,3.265048,0.000000,2.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [47]:
balanced_df.shape

(5834, 39)

# Splitting data into train and valid datasets

In [48]:
from sklearn.model_selection import train_test_split

y = balanced_df.fraud
X = balanced_df.drop(["fraud"], axis = 1)
X_train, X_valid, y_train, y_valid = train_test_split(X, y, train_size=0.8, test_size=0.2, random_state=0)

In [51]:
from sklearn.metrics import mean_absolute_error
# from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor

# my_model = RandomForestRegressor(random_state=0)
my_model = XGBRegressor()

my_model.fit(X_train, y_train)
my_model.fit(X_train, y_train)
y_pred = my_model.predict(X_valid)

# Accuracy score cannot calculate continous because we are dealing binary thats why we converting it into the continous

In [52]:
from sklearn.metrics import accuracy_score

# Convert continuous predictions to binary
y_pred_binary = [1 if pred >= 0.5 else 0 for pred in y_pred]

# Calculate accuracy
accuracy = accuracy_score(y_valid, y_pred_binary)
print("Accuracy:", accuracy)

Accuracy: 0.779777206512425